.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail {
    @extend .space-between;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 60vh;

    &-info {
        position: relative;
        width: 60%;
        color: #fff;
        background-color: rgba($color: #000, $alpha: 0.8);
        padding: 30px;
        border-radius: 10px;
        margin: 30px 0;

        &__title {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 20px;
            color: #e1b12c;
        }

        &__desc {
            font-size: 1.2rem;
            line-height: 1.4;
        }

        &__time {
            font-size: 1.1rem;
            margin: 20px 0;
            @extend .space-between;
            justify-content: flex-start;
            gap: 5px;
            font-weight: 400;
            color: #38ada9;
        }

        &__auth {
            font-size: 1.2rem;
            @extend .space-between;
            justify-content: flex-start;
            gap: 5px;
            color: #b8e994;
            font-weight: 600;
        }

        &__group {
            display: flex;
            align-items: unset;
            justify-content: flex-end;
            gap: 10px;

            button {
                font-size: 1.4rem;
                padding: 6px 15px;
                cursor: pointer;
                border: none;
                border-radius: 5px;
                color: #fff;
                text-decoration: none;
            }

            &--edit {
                background-color: #f6b93b;
            }

            &--delete {
                background-color: #eb2f06;
            }
        }

        &__status {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            z-index: 1;
            font-weight: 600;
            color: #fad390;

            &.active {
                color: #4cd137;
            }
        }
    }
}