.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    border-radius: 20px;
    overflow: hidden;
    gap: 3rem;

    @media (max-width: 768px) {
        justify-content: center;
        width: 100%;
    }

    @media (max-width: 400px) {
        padding: 2rem;
    }

    &-content {
        min-width: 20vw;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &-title {
        font-weight: 600;
        color: #000;
        font-size: 2.4rem;
        padding-bottom: 20px;
    }

    &-group {
        margin-bottom: 20px;

        &__input {
            @extend .center;
            justify-content: flex-start;
            border-bottom: 1px solid #000;
            padding: 8px 0;
            gap: 10px;

            .form-icon {
                font-size: 1.2rem;
                cursor: pointer;
            }

            input {
                font-size: 1rem;
                border: none;
                opacity: 0.8;
                transition: 0.3s;

                &:focus {
                    opacity: 1;
                }

                &:focus-visible {
                    outline: none;
                }
            }
        }

        &__error {
            color: #ff6b6b;
            font-weight: 600;
            font-size: 14px;
            font-style: italic;
        }
    }

    &-check {
        @extend .center;
        justify-content: flex-start;
        gap: 10px;
        font-weight: 300;
        color: #333;

        span {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &-btn {
        margin-top: 25px;
        border: none;
        padding: 15px 40px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        transition: 0.3s;
        color: #fff;
        background-color: #6dabe4;

        &:hover {
            background-color: #4292dc;
        }
    }

    &-right {
        display: flex;
        flex-direction: column;

        span {
            margin-top: 25px;
            display: block;
            text-align: center;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}